-i https://pypi.org/simple/
certifi==2022.12.7
chardet==3.0.4
click==7.0
colorama==0.4.1
crayons==0.2.0
idna==2.8
psycopg2-binary==2.7.7
requests==2.22.0
six==1.12.0
sqlalchemy-utils==0.33.11
sqlalchemy==1.3.0
urllib3==1.24.2
vistir[spinner]==0.3.1
yaspin==0.15.0
