-i https://pypi.org/simple/
certifi==2021.5.30
chardet==4.0.0
click==7.0
colorama==0.4.4
crayons==0.2.0
idna==2.10
psycopg2-binary==2.7.7
requests==2.25.1
six==1.16.0
sqlalchemy-utils==0.33.11
sqlalchemy==1.3.0
termcolor==1.1.0
urllib3==1.26.5
vistir[spinner]==0.3.1
yaspin==2.0.0
